body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #181818;
}


#calculator {
    max-width: 500px;
    background-color: #232323;
    border-radius: 45px;
    overflow: hidden;
}

#display {
    width: 90%;
    height: 110px;
    background-color: #232323;
    color: white;
    font-size: 3rem;
    text-align: right;
    padding: 20px;
    border: none;
}


#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}


button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: #4a4a4a;
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

button:active {
    background-color: #767676;
    transform: scale(0.96);
}

.btn-orange {
    background-color: #fa881df1;
    color: white;
}

.btn-orange:active {
    background-color: #f9a251;
}

.btn-light {
    background-color: #9b9b9b;
    color: white;
}

.btn-light:active {
    background-color: #c6c6c6;
}

#keys i {
    font-size: 2.5rem;
}